<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <ion-img src="/assets/icons/icon-192x192.png" class="brand ion-padding"></ion-img>
    <div class="ion-padding">
      <strong>Ready to make it simple?</strong>
      <p>Rental payment capture in minutes</p>
    </div>

    <!-- <ion-button size="large" fill="outline">
      Renting
      <ion-icon name="key"></ion-icon>
    </ion-button> -->
    <ion-button size="large" fill="outline">
      Get Started
      <ion-icon name="key"></ion-icon>
    </ion-button>
  </div>
</ion-content>
